
#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
#btncontainer{
text-align: center;
}

button{
    padding: 10px 20px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
background-color: #efbaba;
border-radius: 20%;


}
button:hover{
    background-color: #d58585;

}


